{%load static%}
<footer>
    <img src="{%static 'img/logo.png' %}" alt="logo" width="128">
    <ul>
        <li><a href="www.flaticon.com">Logo: Flaticon</a></li>
        <li><a href="www.googlefonts.com">Google Fonts</a></li>
        <li><a href=""></a></li>
    </ul>
        <ul>
        <li><a href="{% url 'index' %}">index</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="www.instagram">Instagram</a></li>
    </ul>
    <p>Todos los derechos reservados</p>
</footer>