:root {
    --color-primary: #ffce00;
    --color-secondary: #ffa300;
    --color-text: #707789;
    --color-bg: #dedede;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--color-primary);
}

nav  img {
    margin: 25px;
}

nav  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav  ul  li {
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 30px;
    font-weight: 700;
}

nav ul li a:hover {
    color: white;
}

h1 {
    font-size: 50px;
}

ul li a {
    text-decoration: none;
    font-size: 20px;
}

main {
    background-color: var(--color-bg);
}

footer {
    width: 100vw;
    background-color: var(--color-text);
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    color: var(--color-bg);
}

footer ul li a {
    text-decoration: none;
}

footer > img {
    margin: 25px;
}